body {
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Nanum Gothic', sans-serif;
}


/* Page --------- */
.page-cont {
  min-height: 100vh;
  width: 100vw;
}
.page-cont .double-lines {
  border-left: 1px solid #ffaa9f;
  border-right: 1px solid #ffaa9f;
  width: 2px;
  height: 100vh;
  margin-left: 75px;
  position: fixed;
}
.page-cont .page-title {
  margin: 0;
  margin-left: 80px;
  padding: 25px 25px 10px 25px;
}
.page-cont .page-content {
  background-image: repeating-linear-gradient(#f5f5f5 2px, #f5f5f5 35px, #ccc 36px);
  min-height: calc(100vh - 75px);
  padding-top: 2px;
}


/* ToDos --------- */
.todo-cont {
  color: #555;
  font-size: 18px;
  padding: 0 !important;
}
.todo-cont .todo-line {
  position: relative;
  display: flex;
}
.todo-cont .checkbox {
  width: 15px;
  height: 15px;
  border: 1px solid #555;
  position: absolute;
  left: 45px;
  top: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.todo-cont .todo-text {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-left: 80px;
  min-height: 33px;
}
.todo-cont .todo {
  list-style: none;
  padding-left: 25px;
  margin: 0;
  text-transform: capitalize;
  line-height: 34px;
  cursor: pointer;
  flex-grow: 1;
}
.todo-cont .finished {
  text-decoration: line-through;
}
.todo-cont .delete-button {
  width: 15px;
  height: 15px;
  margin: 0 25px 0 15px;
  cursor: pointer;
  visibility: hidden;
}
.todo-cont .todo-text:hover {
  background-color: #f0f0f0;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition:    all 0.2s;
  -ms-transition:     all 0.2s;
  -o-transition:      all 0.2s;
}
.todo-cont .todo-text:hover .delete-button {
  visibility: visible;
}


/* New ToDo --------- */
.newTodo-cont {
  height: 33px;
  margin: 0;
  margin-left: 80px;
  margin-bottom: 1px;
  display: flex;
}
.newTodo-cont input {
  border: none;
  background-color: transparent;
  height: 100%;
  width: 100%;
  padding-left: 25px;
  font-size: 18px;
  font-family: 'Nanum Gothic', sans-serif;
  color: #555;
}
.newTodo-cont input:focus {
  outline: transparent;
}
.newTodo-cont input:focus::placeholder {
  color: transparent;
}
.newTodo-cont input::placeholder {
  color: lightgray;
}


/* RWD --------- */
@media screen and (max-width: 768px) {
  .todo-cont .todo-text:hover {
    background-color: transparent;
  }
}